<%- include('partials/header'); -%>

<main>
    <div class="top-baner-post kenburns-top"></div>
    <div class="cart-top" id="home">
        <div class="content-cart">
            <p>Welcome to oury.com</p>
            <h1>Coffee Oury</h1>
            <h4>your favourite coffee daily lives.</h4>
            <div class="cont-link">
                <a href="#">Our Story</a>
                <a href="#">Check Menu</a>
            </div>
        </div>
    </div>
    <!-- about section -->
    <div class="about" id="about">
        <div class="container py-5">
            <div class="card bg-transparent border-0 mb-3 mt-5 " >
                <div class="row g-3 card-top ">
                    <div class="col-md-6 video-content">
                        <video autoplay muted loop class="myVideo">
                            <source src="video/video-1.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-md-6 ">
                        <div class="card-body mt-3 text-light">
                        <h2 class="card-title">Diallo</h2>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae dolore tempore repellat, id, hic ipsa suscipit fugit veniam nisi animi, dignissimos quidem? Beatae voluptas tempora a nostrum repellendus, quasi eligendi!
                        Quos obcaecati nisi unde tempore totam, autem eveniet quod vero, deserunt, molestiae dolorem ullam. Neque consequatur rerum, et animi sed nesciunt ut aliquid voluptates perferendis accusantium inventore placeat! Excepturi, laborum!
                        Pariatur ittiis, praesentium libero similique in aperiam laboriosam. Eveniet, deleniti fugiat, ipsum error, hic vel dolores laboriosam nostrum molestias et aperiam ratione. Necessitatibus, soluta.</p>
                        <div class="meet-team">
                            <a href="#">Meet team</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- meet-team -->
    <div class="teem" id="ourmenu">
        <div class="container ">
            <div class="profile-box">
                <div class="content-img-1">
                    <div class="body-content">
                        <h2>Amadou</h2>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div>

                <div class="content-img-2">
                    <div class="body-content">
                        <h2>Amadou</h2>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div>

                <div class="content-img-3">
                    <div class="body-content">
                        <h2>Amadou</h2>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div>

                <div class="content-img-4">
                    <div class="body-content">
                        <h2>Amadou</h2>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- OurMenu -->
    <div class="menu" id="ourmenu">
        <div class="container py-5">
            <div class="card mb-3 bg-transparent border-0">
                <div class="row g-4">
                <div class="col-md-6">
                    <div class="card-body1">
                        <div class="content pt-4">
                            <p>Amadou</p>
                            <h1>Breakfast</h1>
                            <div class="content-price">
                                <div class="box-price">
                                    <h3>Pancakes</h3>
                                    <span>$2.50</span>
                                </div>
                                <hr>
                                <small>Fresh brewed coffee and steamed milk</small>
                            </div>

                            <div class="content-price">
                                <div class="box-price">
                                    <h3>Pancakes</h3>
                                    <span>$2.50</span>
                                </div>
                                <hr>
                                <small>Fresh brewed coffee and steamed milk</small>
                            </div>

                            <div class="content-price">
                                <div class="box-price">
                                    <h3>Pancakes</h3>
                                    <span>$2.50</span>
                                </div>
                                <hr>
                                <small>Fresh brewed coffee and steamed milk</small>
                            </div>

                            <div class="content-price">
                                <div class="box-price">
                                    <h3>Pancakes</h3>
                                    <span>$2.50</span>
                                </div>
                                <hr>
                                <small>Fresh brewed coffee and steamed milk</small>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body1">
                        <div class="content pt-4">
                            <p>Amadou</p>
                            <h1>Coffee</h1>
                            <div class="content-price">
                                <div class="box-price">
                                    <h3>Pancakes</h3>
                                    <span>$2.50</span>
                                </div>
                                <hr>
                                <small>Fresh brewed coffee and steamed milk</small>
                            </div>

                            <div class="content-price">
                                <div class="box-price">
                                    <h3>Pancakes</h3>
                                    <span>$2.50</span>
                                </div>
                                <hr>
                                <small>Fresh brewed coffee and steamed milk</small>
                            </div>

                            <div class="content-price">
                                <div class="box-price">
                                    <h3>Pancakes</h3>
                                    <span>$2.50</span>
                                </div>
                                <hr>
                                <small>Fresh brewed coffee and steamed milk</small>
                            </div>

                            <div class="content-price">
                                <div class="box-price">
                                    <h3>Pancakes</h3>
                                    <span>$2.50</span>
                                </div>
                                <hr>
                                <small>Fresh brewed coffee and steamed milk</small>
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- timeline -->

    <div class="time-line" id="reviews">
        <h2 class="text-light text-center py-3">Amadou Oury Diallo</h2>

        <div class="timelines">
            <div class="timeline">
                <div class="containers left">
                <div class="contents">
                    <!-- content -->
                    <div class="image-coffee">
                        <div class="profile-time">
                            <img src="images/oury.jpg" alt="Coffee" style="width: 100px; height: 100px;">
                            <p>Amadou <br> Oury</p>
                        </div>
                        <div class="content-time">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <hr>
                            <div class="content-like">
                                <p>4.5 Rating</p>
                                <span>⭐️⭐️⭐️⭐️⭐️</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="containers right">
                <div class="contents">
                    <div class="image-coffee">
                        <div class="profile-time">
                            <img src="images/oury.jpg" alt="Coffee" style="width: 100px; height: 100px;">
                            <p>Amadou <br> Oury</p>
                        </div>
                        <div class="content-time">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <hr>
                            <div class="content-like">
                                <p>4.5 Rating</p>
                                <span>⭐️⭐️⭐️⭐️⭐️</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="containers left">
                    <div class="contents">
                        <div class="image-coffee">
                            <div class="profile-time">
                                <img src="images/oury.jpg" alt="Coffee" style="width: 100px; height: 100px;">
                                <p>Amadou <br> Oury</p>
                            </div>
                            <div class="content-time">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <hr>
                                <div class="content-like">
                                    <p>4.5 Rating</p>
                                    <span>⭐️⭐️⭐️⭐️⭐️</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section contact form an footer -->
<div class="contact oury" id="contact">
    <h2 class="text-light text-center p-3">Contact</h2>
    <div class="container py-5">
        <div class="card mb-3 bg-transparent border-0">
            <div class="row g-5">
                <div class="col-md-6">
                    <form action="" class="row">
                        <div class="col-md-6 form-input">
                            <label for="inputName" class="form-label text-light">Name</label>
                            <input type="name" class="form-control bg-transparent " id="inputName" placeholder="Amadou Oury">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label text-light">Email</label>
                            <input type="email" class="form-control bg-transparent" id="inputEmail4" placeholder="ouryetude@gmail.com">
                        </div>
                        <div class="col-12">
                            <label for="exampleFormControlTextarea1" class="form-label text-light">Textarea</label>
                            <textarea type="text" class="form-control bg-transparent" id="exampleFormControlTextarea1" placeholder="1234 Main St" rows="4"></textarea>
                        </div>
                        <div class="col-12 mt-3">
                            <button type="submit" class="bt">Send</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 image-form">
                
                </div>
            </div>
        </div>
    </div>
    
</div>
</main>

<%- include('partials/footer'); -%>