<%- include('partials/header'); -%>

<div class="reserv">
    <div class="reservation-box">
        <div class="reservation-content">
            <p class="text-center text-light pt-4">Reservation table</p>
            <h1 class="text-center text-light py-3">Enter Your Information</h1>
            <form action="" class="row p-5">
                <div class="col-md-6">
                    <label for="inputName" class="form-label text-light">Name</label>
                    <input type="name" class="form-control bg-transparent " id="inputName" placeholder="Amadou Oury">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label text-light">Email</label>
                    <input type="email" class="form-control bg-transparent" id="inputEmail4" placeholder="ouryetude@gmail.com">
                </div>
                <div class="col-md-6">
                    <label for="inputName" class="form-label text-light">Name</label>
                    <input type="name" class="form-control bg-transparent " id="inputName" placeholder="Amadou Oury">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label text-light">Email</label>
                    <input type="email" class="form-control bg-transparent" id="inputEmail4" placeholder="ouryetude@gmail.com">
                </div>
                <div class="col-12">
                    <label for="exampleFormControlTextarea1" class="form-label text-light">Textarea</label>
                    <textarea type="text" class="form-control bg-transparent" id="exampleFormControlTextarea1" placeholder="1234 Main St" rows="4"></textarea>
                </div>
                <div class="col-12 mt-3">
                    <button type="submit" class="bt">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>